*{ font-family: arial, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 100vh;
  width: 100vw;
  
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}
#navbar {
  padding: 2em;
  justify-content: space-between;
}
#main-section {
  flex-grow: 1;
}
#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  background-color: #b05f6d;
  color: white;
  background-color: red;
}
.blue {
  background-color: #275db3;
  color: white;
  background-color: blue;
  
}

.red {
  background-color: red;
  color: black;
  padding: 1rem;
}

.blue {
  background-color: blue;
  color: black;
  padding: 1rem;
}

.green {
  background-color: green;
  color: black;
  padding: 1rem;
}

.purple {
  background-color: purple;
  color: black;
  padding: 1rem;
}

.yellow {
  background-color: yellow;
  color: black;
  padding: 1rem;
}

.home {
  background-color: orange;
  color: black;
  padding: 1rem;
}



